@tailwind base;
@tailwind components;
@tailwind utilities;
.label-icon {
    opacity: 0;
}

.label-img {
    @apply bg-slate-100/25;
}

.label-link:hover .label-icon {
    opacity: 1;
}

.label-link:hover .label-img {
    @apply bg-slate-100;
}

.left-scroll-down {
    opacity: 0;
}

.left-container:hover .left-scroll-down {
    opacity: 1;
}

.right-scroll-down {
    opacity: 0;
}

.right-container:hover .right-scroll-down {
    opacity: 1;
}